<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/auth/login">Log in</a>
      <a href="/auth/signup">Sign up</a>
      <a href="/site/protected">Protected page</a>
    </nav>
    {{{body}}}
  </body>
</html>
